<% @book.each do |book| %>
  <div>
    <h2><%= book.title %></h2>
    <p><%= book.autor %></p>
    <p><%= book.isbn %></p>
    <% if book.imagen.attached? %>
      <%= image_tag url_for(book.imagen.variant(resize: "100x100")), alt: book.title, class: "book-image" %>
    <% else %>
      <p>No image available</p>
    <% end %>
  </div>
<% end %>
