.upload—box {
    font—size: 16px;
    color: white;
    background: #24262D ;
    border—radius: 50px;
    box—shadow: 5px 5px 10px black;
    width: 350px;
    outline: none;
}

::-webkit-file-upload-button{

    color: white;
    background: #7e3af2;
    padding: 20px;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 0 1px 1px #1e0e3b;
    outline: none;
}

::-webkit-file-upload-button:hover{

    background: #438a5e;
}
