<h1> <%= @test.name %> </h1>
<div>
    <%= @test.content%>
</div>

<div>
    
    <!--
        Con esto definimos a que recurso quiro ir @test y 
        con que intenciones o con que verbo quiero acceder a esa ruta :delete 
    -->

    <%= button_to 'Eliminar', test_path(@test), method: :delete %>
    <!--<%=link_to "Eliminar el libro", @test , method: :delete %>-->

</div>